{% extends 'library_app/base.html' %}
{% block title %}Add Book{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title mb-4">Add a New Book</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success w-100">Add Book</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
